{% extends "base.html" %}

{% block title %}
Blagging -- {{ author.display_name }}
{% endblock %}

{% block content %}
    <div class="row medium-10 large-8 columns">
    <article>
        <header>
            <h1 class="text-center">Posts authored by {{ author.display_name }}</h1>

            {% if author.posts.count() > 0 %}
                {% with posts = author.posts %}
                    {% include "post_list.html" %}
                {% endwith %}
            {% else %}
                <p>There are no posts have been authored by this user</p>
            {% endif %}
        </header>
    </article>
    </div>
{% endblock %}