<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
  {% block styles%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  {% endblock %}
  </head>
  <body>
  {% include 'nav.html' %}
  {% block content %}
  {% endblock %}
  <footer class="footer">
      <div class="row">
          <div class="small-12 medium-6 large-6 columns">
              <h6>Recent Articles</h6>
          </div>
          <div class="small-12 medium-6 large-6 columns">
              <h6>Social</h6>
          </div>
      </div>
      <div class="row">
          <p class="copywrite">© Andrew Bednar 2016</p>
      </div>
  </footer>
  {% block scripts %}
  {% if config.DEBUG %}
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/what-input/what-input.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/foundation-sites/dist/foundation.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/stickyFooter.js') }}"></script>
  {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='bower_components/what-input/what-input.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/stickyFooter.js') }}"></script>
  {% endif %}
  {% endblock %}
  </body>
</html>
