{% extends 'base.html' %}
{% from '_macros.html' import render_pagination %}

{% block content %}
<style>
    .post-tag{

        display: inline-block;
        margin: 2px 2px 2px 0;
    }

    .fi-pricetag-multiple{
        color:#2199e8;
        font-size: 20px;
    }
</style>
<div class="callout large primary">
<div class="row column text-center">
<h1>Flask Blag</h1>
</div>
</div>
<div class="row" id="content">
<div class="medium-8 columns">
    {% if pagination.total > 0 %}
        {% with posts = pagination.items %}
            {% include 'post_list.html' %}
        {% endwith %}
    {% endif %}
</div>
<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">
<h4>Categories</h4>
<ul>
    {% for t in all_tags() %}
        <li><a href="{{ url_for('tag', name=t.name) }}">{{ t }}</a></li>
    {% endfor %}
</ul>
<h4>Authors</h4>
<ul>
    {% for author in authors %}
        <li><a href="{{ url_for('user', display_name=author.display_name) }}">{{ author.display_name }}</a></li>
    {% endfor %}
</ul>
</div>
</div>
</div>
    {{ render_pagination(pagination, 'page') }}
{% endblock %}