{% extends 'base.html' %}
{% from '_macros.html' import render_pagination %}

{% block content %}
<style>
    .post-tag{

        display: inline-block;
        margin: 2px 2px 2px 0;
    }

    .fi-pricetag-multiple{
        color:#2199e8;
        font-size: 20px;
    }
</style>
<div class="row" id="content">
<div class="medium-8 columns">
    {% if pagination.total > 0 %}
        {% with posts = pagination.items %}
            {% include 'post_list.html' %}
        {% endwith %}
    {% endif %}
</div>
<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">
<h4>Categories</h4>
<ul>
    {% for t,c in tags_count() %}
        <li><a class="tag" href="{{ url_for('tag', name=t.name) }}">{{ t }}</a> ({{c}})</li>
    {% endfor %}
</ul>
<h4>Author</h4>
    <img class="profile float-center" src="{{ url_for('static', filename='img/Profile.jpg')}}" alt="Profile Picture">
    <br>
    <div>
        <p>Drew here, welcome to the blag.</p>
        <p>I am an application developer in Kalamazoo MI, and an avid python user. Since the python community has treated me so well I wanted to give back, and sharing through this blog is my way of doing that.</p>
    </div>
</div>
</div>
</div>
    {{ render_pagination(pagination, 'index') }}
{% endblock %}