{% extends 'base.html' %}

{% block title %}Blag | Edit Posts{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-8 medium-centered large-8 large-centered columns">
            <h1 class="text-center">Edit Posts</h1>
            <hr/>
            <div class="callout-stack">
            {% for post in posts %}
                <div class="callout">
                    <div class="row">
                        <div class="medium-6 large-6 columns">
                            <ul style="list-style-type: none;">
                            <li><strong>Title: </strong>{{post.title}}</li>
                            <li><strong>Published: </strong>{{ post.published }}</li>
                            <li><strong>Created Dated: </strong>{{ post.date }}</li>
                            <li><strong>Last Modified: </strong>{{ post.date_modified }}</li>
                            </ul>
                        </div>
                        <div class="medium-6 large-6 columns">
                            <p>{{ post.body | truncate(length=200, killwords=True)}}</p>
                            <a class="button float-right" href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}