 <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <a href="{{ url_for('index') }}"><li class="menu-text hvr-underline-from-left">Flask Blagging</li></a>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="hvr-underline-from-right"><a href="{{ url_for('index') }}">Home</a></li>
      {% if current_user.is_authenticated %}
      <li class="hvr-underline-from-right"><a href="{{ url_for('add') }}">Add</a></li>
      <li class="hvr-underline-from-right"><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li class="hvr-underline-from-right"><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>