{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <style>
    .indented.comment {
        padding-left: 15px;
        border-left: 1px solid #ebebeb;
    }

    .push {
        margin-bottom: 40px;
    }

    .post-tag{
        color: #39739d;
        display: inline-block;
        margin: 2px 2px 2px 0;
        background: #E1ECF4;
        padding: .1rem .5rem;
        border-radius: 2px;
    }
    .comment{
        margin: 0 0 0 0;
    }
    .comments:last-child{
        margin-bottom: 1rem;
    }

    </style>
    <div class="row medium-10 large-8 columns">
        <div class="blog-post">
            <h3>{{ post.title }} <small>{{ post.date }}</small></h3>
            <div>
                Posted By: <a href="{{ url_for('user', display_name=post.author.display_name) }}">{{ post.author.display_name }}</a>
            </div>
            <div>
                Under: {% for t in post._tags %}<a href="{{ url_for('tag', name=t.name) }}" class="post-tag">{{ t.name }}</a> {% endfor %}
            </div>
            <hr>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>{{ post.body | safe }}</p>
            <br>
            <div id="comments" class="float-right">Comments: {{ post.comments | length }}</div>
            <hr>
            <div class="comments">
            {% if post.comments %}
                {% with comments = post.comments %}
                    {% include 'comment_list.html' %}
                {% endwith %}
            {% else %}
                <div>No Comments</div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}