
    <div class="row medium-10 large-8 columns">
        <div class="blog-post">
            <h3>{{ post.title }} <small>{{ post.date }}</small></h3>
            <div>
                Posted By: <a href="#">{{ post.author.display_name}}</a>
            </div>
            <div>
                Tags: {% for t in post.tags %}<a href="#" class="post-tag">{{ t }}</a> {% endfor %}
            </div>
            <hr>
            <p>{{ post.body | markdown}}</p>
            <br>
            <div id="comments" class="float-right">Comments: {{ post.comments | length }}</div>
            <hr>
            <div class="callout-stack">
            {% if post.comments %}
                {% with comments = post.comments %}
                    {% include 'comment_list.html' %}
                {% endwith %}
            {% else %}
                <div>No Comments</div>
            {% endif %}
            </div>
        </div>
    </div>