{% extends 'base.html' %}
{% from '_macros.html' import render_field %}

{% block title %}
Blagging -- Add Post
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content%}
    <div class="row">
        <div class="medium-10 medium-centered large-8 large-centered columns">
            <form id="postForm" action="" method="post">
                {{form.hidden_tag()}} <!-- prevents CSRF attack -->
                <div class="row column">
                    <div class="alert callout" data-closable style="display:{% if not form.errors %}none{% else %}block{% endif %};margin-top:1rem;">
                        <p><i class="fi-alert"></i> There are some errors in your form.</p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h4 class="text-center">What's on your mind?</h4>
                    <div class="row">
                        <div class="large-8 medium-8 columns"> {{ form.published.label(class='text-right') }}</div>
                        <div class="large-4 medium-4 columns">
                        {{ form.published() }}
                        </div>
                    </div>
                    <fieldset class="fieldset">
                        <legend>Post Content</legend>
                    {{ render_field(form.title) }}
                    {{ render_field(form.short_desc,rows='3', class='mdm-input') }}
                    {{ render_field(form.body, rows='10', class='mdm-input') }}
                    {{ render_field(form.tags) }}
                    </fieldset>
                    <input type="submit" class="button" value="Submit">
                    <a id="preview" data-toggle="examplePreview" class="button secondary">Preview</a>
                </div>
            </form>
        </div>
    </div>
    <div class="full reveal" id="examplePreview" data-reveal>
        <div id="previewContainer">

        </div>
          <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
{% endblock%}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/a-tools.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/showdown.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/mdmagick.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        $('#preview').click(function(){
           //var $form = $('#postForm');
            $.ajax({
                type: 'POST',
                url: '/preview',
                contentType: "application/json",
                data: JSON.stringify($('#postForm').serializeArray()),
                success: function(response) {
                    $('#previewContainer').html(response);
                },
                fail: function(){
                    $('#previewContainer').html('<p>Preview failed</p>');
                }
            });
        });
    });
</script>
{% endblock %}