
{% for post in posts %}
    <div class="blog-post">
        <h3><a href="{{ url_for('post', slug=post.display_title)}}">{{ post.title }}</a> <small>{{ post.date }}</small></h3>
        <img class="thumbnail" src="http://placehold.it/850x350">
        <p>{{ post.short_desc }}</p>
        <div class="callout">
        <ul class="menu simple">
            <li><a href="#">Author: {{ post.author.display_name }}</a></li>
            <li><a href="#">Comments: {{ post.comments | length }}</a></li>
            <li>INSERT TAG ICON:<span> {% for t in post._tags %}<a href="#" class="post-tag">{{ t.name }}</a> {% endfor %}</span></li>
        </ul>
        </div>
    </div>
{% endfor %}