{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="row medium-10 large-8 columns">
        <div class="blog-post">
            <h3>{{ post.title }} <small>{{ post.date | strftime}}</small></h3>
            <div>
                Posted By: <a href="{{ url_for('user', display_name=post.author.display_name) }}">{{ post.author.display_name }}</a>
            </div>
            <div>
                Tags: {% for t in post._tags %}<a href="{{ url_for('tag', name=t.name) }}" class="tag">{{ t.name }}</a> {% endfor %}
            </div>
            <hr>
            <p>{{ post.body | markdown }}</p>
            <br>
            <div id="comments" class="float-right">Comments: {{ post.comments | length }}</div>
            <hr>
            <div id="disqus_thread"></div>
        </div>
    </div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "{{ url_for('post', slug=post.display_title)}}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ url_for('post', slug=post.display_title)}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//blog-androiddrew-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}