{% extends "base.html" %}
{% from '_macros.html' import tag_render_pagination %}

{% block title %}
Blagging -- Posts tagged {{ tag }}
{% endblock %}

{% block content %}
    <div class="row medium-10 large-8 columns">
    <article>
        <header>
            <h1>Posts tagged {{ tag }}</h1>

            {% if pagination.total > 0 %}
                {% with posts = pagination.items %}
                    {% include "post_list.html" %}
                {% endwith %}
            {% else %}
                There are no posts with this tag
            {% endif %}
        </header>
    </article>
        {{ tag_render_pagination(pagination, 'tag_page', tag) }}
    </div>
{% endblock %}